/* HTML */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: auto;
    background-color: #141414;
}

#Home {
    
}

.font {
    font-family: 'Quicksand', sans-serif;
}

/* App */
.App {
    box-sizing: border-box;
    
}

/* -------------------------------------------------------- */

/* App Header */
.App-header {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* ---------------------------------------------------------- */

/* Section Setup */

html, body {
    max-width: 100%;
}

#header {
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    color: #FCE22A;
    margin-bottom: 0 auto ;
    border-bottom: #d6c124 solid 1px;
    padding-bottom: 1em;
    width: 20em;
}

.snap {
    scroll-snap-align: start;
    position: sticky;
    min-height: 100vh;
    padding: 30px; 
}

.snap:nth-child(2n+2) {
    background-color: black;
}

.snap:nth-child(2n+3) {
    background-color: #141414;
}

h3 {
    color: #FCE22A;
}

/* Scroll */

#selected {
    background-color: #FCE22A;
}

#selected .button {
    color: black;
}

#selected .buttonName {
    opacity: 100%;
}

#unselected {
    background-color: black;
    color: #FCE22A;
}

#sidebuttonHome {
    background-color: #FCE22A;
}

#sidebuttonHome .button, #sidebuttonHome .button .buttonName {
    color: black;
    opacity: 100%;
}

::-webkit-scrollbar {
    width: 0;
}

/* ---------------------------------------------------------- */

/* Side Panel */
.sidepanel {
    color: #FCE22A;
    background-color: black;
    border-right: 1px #FCE22A solid;
    display: inline-block;
    width: 100px;
    height: 100%;
    position: fixed;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sidepanel:hover .sidebutton .buttonName {
    opacity: 1;
    animation: fadein 2s normal;
}

.sidebutton {
    padding: 10px 8px 8px 0px;
    display: block;
    text-align: center;
}

.button {
    color: #FCE22A;
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.sidebutton:hover {
    opacity: 75%;
    box-shadow: 2px 2px 2px #d6c124;
}

.buttonName {
    display: block;
    opacity: 0;
}

/* ------------------------------------------------------ */

/* Home */
.homepage {
    padding-top: 250px;
}

#title {
    color: #FCE22A;
    font-size: larger;
}

#name {
    font-weight: bold;
    font-size: 2em;
}

.downIconContainer {
    margin: 200px 0 0 0;
}

.downIcon {
    color: #FCE22A;
    margin: 200px 0 0 0;
    animation: iconBounce 2.5s ease infinite;
}

@keyframes iconBounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.homeIcons {
    display: block;
    margin: 0 auto;
}

.homeIcons a {
    display: inline;
    vertical-align: middle;
    text-align: center;
    color: #FCE22A;
    font-size: x-large;
    padding: 0 5px;
    height: 34px;
    width: auto;
    margin: 10px;
}

.homeIcons a:hover {
    color: #d6c124;
    font-size: 1em;
}


/* ------------------------------------------------------ */

/* About Section */
.aboutSection {
    
    color: white;
}

.aboutBody {
    background-color: #1a1a1a;
    box-shadow: 0 0 5px 0 #d6c124;
    border-radius: 5px;
    font-size: large;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    width: 50%;
}

.photoContainer {
    object-fit: cover;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    min-height: 200px;
    margin: 70px auto;
}

.photo {
    width: 200px;
    height: auto;
    border-radius: 100%;
}

/* -------------------------------------------------- */

/* Skills */
.skills {
    text-align: center;
}

.skills .items {
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 10px;
    width: 200px;
    height: 55px;
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
    font-size: 70%;
}

.list {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

#lists, .lists {
    /* display: inline-block; */
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#lists h4 {
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
    margin: 1em auto;
}

.listItem {
    display: inline;
    text-align: center;
}

.itemName {
    display: inline;
    text-align: center;
    margin: 12px;
    float: right;
}

.devicons {
    display: inline;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #FCE22A;
    font-size: x-large;
    float: left;
}

#icon, .icon {
    display: inline;
    vertical-align: middle;
    text-align: center;
    color: #FCE22A;
    font-size: x-large;
    padding: 0 5px;
    height: 34px;
    width: auto;
    margin: 10px;
    float: left;
}

/* --------------------------------------------------- */

/* Experience */

.companyInfo, #companyInfo {
    display: inline-block;
    font-size: 1em;
    height: 3.65em;
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
}

.experience {

}

.expCompany {
    display: inline-block;
    font-weight: bold;
    text-align: left;
    height: 1em;
}

.expContainer, #expContainer {
    display: inline-block;
    margin: 20px auto;
}

.expRole {
    margin: 0px 20px;
    text-align: center;
    font-size: .75em;
}

.expYear {
    display: inline;
    margin: 0 10px;
    opacity: 50%;
}

.roleCon {
    background-color: #141414;
    border-radius: 5px;
    display: inline-block;
    height: auto;
    padding: 20px 20px 23px 20px;
}

.task {
    margin: 10px auto;
}

.tasksCon {
    display: inline;
    float: right;
    height: auto;
    padding: 20px 20px 20px 0;
}

.tasksInfo {
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #d6c124;
    display: inline-block;
    margin: 0 auto;
    padding: 0px;
    height: max-content;
}

.taskList {
    display: inline-block;
    font-size: 18px;
    margin: 0 20px;
    text-align: left;
    width: 500px;
}

.stackList {
    display: inline-block;
    font-size: 15px;
    margin: 100px 0 0 0;
    text-align: center;
    width: auto;
}

.stackList p {
    display: inline;
    margin: 0 10px;
    color: #d6c124;
}


/* --------------------------------------------------- */

/* Projects */

.Carousel {
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #d6c124;
    display: block;
    margin: 0 auto 2em auto;
    max-width: 50em;
    height: 25em;
    padding: 1em;
}

.carouselCaption {
    background-color: rgba(0, 0, 0, 75%);
    border-radius: 5px;
}

.projectHeader {
    margin-bottom: 3em;
}

.slide {
    border-radius: 5px;
}

/* --------------------------------------------------- */

/* Contact */

.contactContainer, #contactContainer {
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #d6c124;
    display: inline-block;
    margin: 5em;
    min-height: 14em;
    padding: 40px;
    width: 38em;
}

#contactContainer h3 {
    border-bottom: grey solid 2px;
    padding-bottom: 1em;
}

.contactForm {
    float: right;
}

.contactForm label {
    display: inline;
    font-size: 0.75em;
    text-align: left;
    width: 7em;
    float: left;
}

.contactForm input {
    display: inline;
    float: left;
    font-family: 'Quicksand', sans-serif;
    width: 20em;
}

.contactForm textarea {
    display: inline;
    float: left;
    font-family: 'Quicksand', sans-serif;
    height: 8em;
    min-height: 8em;
    min-width: 20em;
    max-width: 20em;
}

.contactForm input, .contactForm textarea {
    border-radius: 2px;
    border-style: none;
    font-size: large;
    margin: 5px 0;
    padding: 5px;
}

.contactInfo, #contactInfo {
    background-color: #141414;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
    display: inline;
    float: left;
    font-size: 0.7em;
    padding: 30px;
    margin: 10px;
}

#contactInfo div p {
    padding: 0!important;
    margin: 0!important;
}

#contactInfo div p {
    padding: 0!important;
    margin: 0!important;
}

.contactInfo a {
    display: inline-block;
}

.contactInfo a {
    margin: 10px;
    color: #FCE22A;
    text-decoration: none;
}

.contactInfo p {
    display: inline;
    float: left;
}

.contactInfo a:hover {
    color: #d6c124;
}

#message {
    display: inline-block;
    min-height: 5rem;
}

.submit {
    background-color: #FCE22A;
    border-radius: 5px;
    color: #000000;
    float: right;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    height: 2em;
    /* margin: 40px 0 0 40px; */
    width: 6em;
    transition: 0.01s ease-in-out;
}

.submit:hover {
    background-color: #d6c124;
}
