/* HTML */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: auto;
    background-color: #141414;
}

#Home {
    
}

.font {
    font-family: 'Quicksand', sans-serif;
}

/* App */
.App {
    box-sizing: border-box;
    
}

/* -------------------------------------------------------- */

/* App Header */
.App-header {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* ---------------------------------------------------------- */

/* Section Setup */
.snap {
    scroll-snap-align: start;
    position: sticky;
    height: 100vh;
    padding: 30px;
}

.snap:nth-child(2n+2) {
    background-color: black;
}

.snap:nth-child(2n+3) {
    background-color: #141414;
}

h3 {
    color: #FCE22A;
}

/* Scroll */

#selected {
    background-color: #FCE22A;
}

#selected .button {
    color: black;
}

#selected .buttonName {
    opacity: 100%;
}

#unselected {
    background-color: black;
    color: #FCE22A;
}

#sidebuttonHome {
    background-color: #FCE22A;
}

#sidebuttonHome .button, #sidebuttonHome .button .buttonName {
    color: black;
    opacity: 100%;
}

/* ---------------------------------------------------------- */

/* Side Panel */
.sidepanel {
    color: #FCE22A;
    background-color: black;
    border-right: 1px #FCE22A solid;
    display: inline-block;
    width: 100px;
    height: 100%;
    position: fixed;
    transition: 0.5s ease-in-out;
    z-index: 1000;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sidepanel:hover .sidebutton .buttonName {
    opacity: 1;
    animation: fadein 2s normal;
}

.sidebutton {
    padding: 10px 8px 8px 0px;
    display: block;
    text-align: center;
}

.button {
    color: #FCE22A;
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.sidebutton:hover {
    opacity: 75%;
    box-shadow: 2px 2px 2px #d6c124;
}

.buttonName {
    display: block;
    opacity: 0;
}

/* ------------------------------------------------------ */

/* Home */
.homepage {
    margin-top: 250px;
    padding-top: 0px;
}

.title {
    color: #FCE22A;
    font-size: larger;
}

.downIconContainer {
    margin: 200px 0 0 0;
}

.downIcon {
    color: #FCE22A;
    margin: 200px 0 0 0;
    animation: iconBounce 2.5s ease infinite;
}

@keyframes iconBounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.spacer {
    height: 100px;
}



/* ------------------------------------------------------ */

/* About Section */
.aboutSection {
    color: white;
}

.aboutBody {
    font-size: large;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.photoContainer {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 70px auto;
}

.photo {

}

/* -------------------------------------------------- */

/* Skills */
.skills {
    text-align: center;
}

.skills .items {
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 10px;
    width: 200px;
    height: 55px;
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
    font-size: 70%;
}

.list {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.lists {
    /* display: inline-block; */
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.listItem {
    display: inline;
    text-align: center;
}

.itemName {
    display: inline;
    text-align: center;
    margin: 12px;
    float: right;
}

.devicons {
    display: inline;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #FCE22A;
    font-size: x-large;
    float: left;
}

.icon {
    display: inline;
    vertical-align: middle;
    text-align: center;
    color: #FCE22A;
    font-size: x-large;
    padding: 0 5px;
    height: 34px;
    width: auto;
    margin: 10px;
    float: left;
}

/* --------------------------------------------------- */

/* Experience */

.experience {

}

.expContainer {
    display: inline-block;
    width: 1000px;
    margin: 20px auto;
}

.expCompany {
    display: inline;
    font-weight: bold;
}

.expRole {
    margin: 10px 20px;
    text-align: left;
}

.roleCon {
    display: inline-block;
    height: auto;
}

.tasksCon {
    display: inline;
    float: right;
    height: auto;
}

.expYear {
    display: inline-block;
    opacity: 50%;
}

.companyInfo {
    display: inline;
    font-size: 24px;
    width: 30%;
}

.tasksInfo {
    background-color: #1a1a1a;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #d6c124;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    height: max-content;
}

.task {
    margin: 10px auto;
}

.stackList {
    display: inline-block;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
    width: auto;
}

.stackList p {
    display: inline;
    margin: 0 10px;
    color: #d6c124;
}

.taskList {
    display: inline-block;
    font-size: 18px;
    margin: 0 20px;
    text-align: left;
    width: 500px;
}


/* --------------------------------------------------- */

/* Portfolio */

.projects {

}

/* --------------------------------------------------- */

/* Contact */

